a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
}

body {
    background-color: white;
    color: black;
    font-size: 16px;
    font-family: Sans-Serif;
    line-height: 1.62;
    margin: 0;
}

h1 {
    font-size: 2.25em;
    text-align: left;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 1.25em;
    margin: 0;
    padding: 0;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1em;
}

p {
    font-size: .9em;
    margin: 10px 0 10px 0;
    padding: 0;
}

.content-body {
    margin: 5px 0 0 0;
    padding: 0 25px 10px 25px;
    max-width: 768px;
}

table, th, td {
    border: 1px solid black;
    font-family: "Lucida Console", Monaco, monospace; 
}

th, td {
    font-size: 75%;
    vertical-align: center;
    min-width: 50px;
    text-align: left;
}

table {
    border-collapse: collapse;
}

th {
    padding: 5px;
    color: #000;
    background-color: #c0c0c0;
    height: 10px;
    font-weight: bold;
    font-size: 80%;
}

td {
    color: #000;
    height: 10px;
    background-color: #fff;
    padding: 5px;
}

td.targeted-row {
    background-color: #e0e0e0;
}

td.targeted-cell {
    background-color: #f7d52e;
    font-weight: bold;
}

pre {
    font-family: "Lucida Console", Monaco, monospace; 
    font-size: 70%;
    background-color: #f0f0f0;
    padding: 5px;
}